:root{
  --primary: #87986a;
  --dark: #111d13;
  --light: #cfe1b9;
  --complimentary: #5D415B;

}

@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
  
}

body{
  background-color: var(--primary);
  padding: 10px;
}




nav{

  text-align: center;
  padding: 3px;
  background-color: var(--light);
  color: #000;
  font-family: Georgia, 'Times New Roman', Times, serif;  
    


}

.title {
    background-color: var(--dark);
    padding: 20px 10px;
    /* border-radius: 25%; */
    text-align: center;
    width: 200;
    padding: 10px;
    color: antiquewhite;
      

}

.topics{
  /* background-color: var(--light); */
  border-style:groove;
  border-color: black;
  padding: 20px 10px;
  border-radius: 25%;
  text-align: left;
  margin-right: 400px;
  padding: 10px;
  width: 300px;
  text-align: center;
  background-color: var(--light);


}

.intro{
  border-style:inset;
  border-color: black;
  margin-top: 40px;
  padding: 10px ;
  background-color: var(--light);
  border-radius: 15px;
}

.essential{
  border-style:inset;
  border-color: black;
  margin-top: 40px;
  padding: 10px ;
  background-color: var(--light);
  border-radius: 15px;
  margin-bottom: 50px;

}

.contents{

  text-align: left;

}



