nav{

text-align: center;
  padding: 3px;
  background-color: rgb(200, 206, 207);
  color:
  border-radius: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;    


}

title {
    color: rgba(0, 0, 0, 0.493);
    
    

}